<div class="widget-toolbar container">
  <ul class="quick-nav clearfix">
    <li class="widget-btn" (click)="toggleGroup()">Select Groups<span class="ko-minimize" style="cursor: pointer;"></span></li>
    <li class="widget-btn" (click)="toggleWidget()">Manage Dashboard<span class="ko-minimize" style="cursor: pointer;"></span></li>
<!--     <li class="campaign-link my-profile" (click)="launchAddCampaign()"><i class="ko-clock"></i><span>Add Campaign</span></li> -->
<!--     <li class="firmware-link my-profile" (click)="launchAddFirmware()"><i class="ko-ram"></i><span>Add Firmware</span></li> -->
    <div #link></div>
  </ul>
</div>
