<ul class="widget-activities">
  <li class="some_class">
    <div class="security-scan">
      <div class="activity-icons">
        <span class="ko-search" style="cursor: pointer;"></span>
        <span class="ko-eye" style="cursor: pointer;"></span>
      </div>
      <div class="activity-stats">
        <span class="activity-title">Security Scan</span>
        <span class="activity-date">2/3/16 12:00 am</span>
      </div>
    </div>
    <div class="defects">0 Issues</div>
  </li>
  <li class="some_class">
    <div class="device-scan">
      <div class="activity-icons">
        <span class="ko-smart-phone" style="cursor: pointer;"></span>
      </div>
      <div class="activity-stats">
        <span class="activity-title">Device Scan</span>
        <span class="activity-date">2/3/16 12:00 am</span>
      </div>
    </div>
    <div class="defects">0 Issues</div>
  </li>
  <li class="some_class">
    <div class="security-scan">
      <div class="activity-icons">
        <span class="ko-search" style="cursor: pointer;"></span>
        <span class="ko-eye" style="cursor: pointer;"></span>
      </div>
      <div class="activity-stats">
        <span class="activity-title">Security Scan</span>
        <span class="activity-date">2/3/16 12:00 am</span>
      </div>
    </div>
    <div class="defects">8929 Detected</div>
  </li>
  <li class="some_class">
    <div class="att-campaign">
      <div class="activity-icons">
        <span class="ko-clock" style="cursor: pointer;"></span>
      </div>
      <div class="activity-stats">
        <span class="activity-title">ATT Campaign</span>
        <span class="activity-date">2/3/16 12:00 am</span>
      </div>
    </div>
    <div class="defects">In Progress</div>
  </li>
</ul>
