<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-md-4 control-label" for="myInput">Filter</label>
      <div class="col-md-8">
        <input id="myInput" class="form-control input-md" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="myInput">Date Start</label>
      <div class="col-md-8">
        <input id="myInput" class="form-control input-md" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="myInput">Date End</label>
      <div class="col-md-8">
        <input id="myInput" class="form-control input-md" type="text">
      </div>
    </div>
  </form>
</div>
