.notifications {
  position: absolute;
  height: 17px;
  width: 17px;
  line-height: 18px;
  background: #f03a35;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  top: -11px;
  text-indent: 0px;
}
