<div class="page-wrapper">
<div class="back-to-home" (click)="onClose($event)"><span class="ko-home" style="cursor: pointer;"></span>Home</div>
  <workflow-component *ngIf="workflowActive" [workflowName]="workflowName" [headless]="true" [ngClass]="{'hidden': workflowHidden}"
                      (isDone)="isDone($event)"></workflow-component>

  <div id="firmwareTable_wrapper" class="firmwareTables_wrapper form-inline dt-bootstrap component-container" *ngIf="componentActive">
  <h2 class="data-table-title">
    <i class="ko-graph"></i>Detailed Report - {{campaignName}}
    <span class="headericons ko-x" (click)="onClose($event)"></span>
    <span class="headericons ko-restart" (click)="onRefresh($event)"></span>
  </h2>
  <div *ngIf="status == 'FAIL'" class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    {{message}}
  </div>
  <div *ngIf="resultCode == '-1'" class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
    {{resultMessage}}
  </div>
<div class="firmware-container" *ngIf="status != 'FAIL' && resultCode != '-1'">
<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
 <div class="row">
    <div class="col-sm-2">
      <div id="firmwareTable_length" class="firmwareTables_length">
      <span>Show</span>
      <label> entries</label>
      <button *ngIf="viewCampaignOperation" id="addFirmware" [attr.operation]="viewCampaignOperation.operationName"  class="btn btn-primary" (click)="viewCampaign($event)">
      <i class="ko-plus"></i>{{viewCampaignOperation.name}}</button>
    </div></div>
    <div class="col-sm-5">
      <div *ngIf="numFailedDevices" class="ui-widget-header ui-helper-clearfix" style="padding:0px 10px;border-bottom: 0 none; margin: -19px 0 0 0; color:#f00;">
        Number of devices that failed during campaign submission {{numFailedDevices}}
      </div>
    </div>
    <div class="col-sm-4"><div id="firmwareTable_filter" class="firmwareTables_filter">
      <a id="advanceSearch" class="a-search hide"><i class="ko-search"></i>Advance Search</a>
      <label>Search:<input #gb type="text" pInputText size="50" class="form-control input-sm" placeholder=""></label>
    </div></div></div>
  </div>
    <p-dataTable id="dataGrid" [value]="_allReports" #allReports [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" [rowsPerPageOptions]="[10,25,50]" [paginatorPosition]="top" (onPage)="handlePageSelect($event)"  [globalFilter]="gb"  class="data-table ten-columns filters-on-bottom">
      <p-column field="Device ID" id="column1" header="Device ID" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Manufacturer" id="column2" header="Manufacturer" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Model" styleClass="column3" header="Model" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Time Zone" styleClass="column4" header="Time Zone" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Time Submitted" styleClass="column5" header="Time Submitted" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Status of Campaign" styleClass="column6" header="Status in Campaign Manager" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Status of Device" styleClass="column7" header="Status in Device Manager" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
      <p-column field="Timestamp" styleClass="column8" header="Time Stamp of Status Update" [filter]="true" [sortable]="true" filterMatchMode="contains">
      </p-column>
    </p-dataTable>
</div>
<div class="pagination-info">
  {{paginationDetails}}
</div>
<div class="close-button">
  <button class="btn btn-default" type="button" (click)="onClose($event)"><i class="jstree-icon jstree-themeicon ko-x-square main-link jstree-themeicon-custom"></i>Close</button>
</div>
</div>
</div>